/* .portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
} */

.portfolio__container {
    text-align: center;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1rem 10rem 0 10rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-border-variant);
    overflow: hidden;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    padding-bottom: 1rem;
}

/* =========================== Image circles =========================== */
.portfolio__item-image  {
    width: 10rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}


/* ========================= MEDIA QUERIES (MEDIUM DEVICES) ======================== */
/* ================================= Tablets ================================= */
@media screen and (max-width: 1024px) {
    .portfolio__container {
       width: 60%;
    }
}
/* ========================= MEDIA QUERIES (SMALL DEVICES) ======================== */

@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .portfolio__item-image {
        width: 7rem;
        margin: 0 auto 0 -2.2rem;
    }

    .portfolio__item h3 {
        margin-left: -1.2rem;
    }
}