/* =========================== SKILL BAR =========================== */
/* Container for skill bars */
.skill-bar__container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
    border-radius: 20px;
  }
  
  .skills {
    text-align: right; /* Right-align text */
   border-radius: 20px;
    color: white; /* White text color */
  }

  .html {width: 90%; background-color: #04AA6D;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 65%; background-color: #f44336;} /* Red */
.php {width: 60%; background-color: #808080;} /* Dark Grey */

/* =========================== MAIN CSS ===========================*/
.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.experience__container > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience__container > div:hover {
    background-color: transparent;
    border-color: var(--color-border-variant);
    cursor: default;
    transition: var(--transition)
}

.experience__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience__details {
    display: flex;
    gap: 1rem;
}

.experience__details-icon {
    margin-top: 6px;
    color: var(--color-primary);
}

/* ========================= MEDIA QUERIES (MEDIUM DEVICES) ======================== */
/* ================================= Tablets ================================= */
@media screen and (max-width: 1024px) {
    .experience__container {
        grid-template-columns: 1fr;
    }

    .experience__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experience__content {
        padding: 1rem;
    }
}
/* ========================= MEDIA QUERIES (SMALL DEVICES) ======================== */

@media screen and (max-width: 600px) {
    .experience__container {
        gap: 1rem;
    }

    .experience__container > div {
        width: 100%;
        padding: 2rem 1rem;
    }
}